.menu {
    background: #D5B0AC;
    color : #402E2A;
    font-weight: bold;
    text-align: center;



}
.menu span {
    width: 100px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    
    
}

.menu span:hover {
    background: #9CD08F;
    color: #FFFFFF;
    cursor: pointer;
}
.menu_vertical {
    background: transparent
    color : #402E2A;
    font-weight: bold;
    text-align: center;
}
.menu_vertical span{
    background: #D5B0AC;
    width: 100px;
    height: 30px;
    display: block;
    line-height: 30px;
    border: #FFFFFF solid 1px;
}
.menu_vertical span:hover {
    background: #9CD08F;
    color: #FFFFFF;
    cursor: pointer;
}

